@import '@/styles/_fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Golos Text', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}